.error{
    font-size: 12px;
    background: url("login_icons.png") 0 -114px no-repeat #f7f7f7;
    color: #ff6d58;
    text-align: left !important;
    padding-left: 20px;
    line-height: 20px;
    /*left: -90px;*/
}
.margin_0_0_0_p20{
    margin: 0 0 0 20%;
}
.login{
    width:380px;
    height:350px;
    background: #FFFFFF;
}


.align_c_block{
    width:380px;
    height:350px;
    position:absolute;
    left:50%;
    top:30%;
    margin:-125px 0 0 -190px
}
.miss_user,.miss_ps{
    color:#ADA4A4;
    font-size: 12px;
}
.back_00b3f7{
    background:#00b3f7;
}
.login_title{
    width:300px;
    height: 60px;
    line-height: 60px;
}
.margin_left_top_f30{
    left:-20px;
    top:30px;
}
.margin_top_30{
    margin-top:30px;
}
.margin_top_20{
    margin-top:20px;
}
.margin_top_50{
    margin-top:50px;
}
.margin_top_10{
    margin-top:10px;
}
.margin_top_90{
    margin-top:90px;
}
.small_ari_left{
    width:0;
    height:0;
    border-width:6px 0px 6px 10px;
    border-style:solid;
    border-color:#00b3f7 #00b3f7 transparent transparent;
    position: absolute;
    top:60px;
    left:10px;
}
.small_ari_right{
    width:0;
    height:0;
    border-width:6px 10px 0px 0px;
    border-style:solid;
    border-color:#9d6b0b transparent transparent transparent;
    position: absolute;
    top:74px;
    right:0px;
}
.top_left_50_f20{
    top: 60px;
}
.top_left_100_f20{
    left:-20px;
    top: 100px;
}
.user,.pass_word{
    font-size: 16px;
    color:#000000;
    height:30px;
    line-height: 30px;
}
.submit{
    width:300px;
    height: 40px;
    line-height: 40px;
    background: #00b3f7;
}
.register{
    color:#ADA4A4;
}
.padding_left_250{
    margin-top: 20px;
    padding-left: 250px;
}
