body{
    /*background: url("./headerbanner.jpg");*/
    background:#000000;
    font-size: inherit;
    color:red;
    }
.mzg{
    background: url("./scancode.png");
}
.t1{
    background: url("./1/app.png"); width:1010px;
    height: 100px;
}
.t2{
    background: url("./2/bg.png"); width:1010px;
    height: 300px;
}
.t3{
    background: url("./3/icon-bg.png"); width:1010px;
    height: 500px;
}
.t4{
    background: url("./4/subscription.png"); width:1010px;
    height:1000px;
    border:solid #0000ff 2px;
    font-size: 20px;
}