.search-wrapper {
  position: absolute;
  display: inline-block;
  z-index: 9;
  top: 0;
}
.search-wrapper.active {
  z-index: 99;
}
.search-wrapper .search-input {
  box-sizing: border-box;
  width: 100%;
}
.search-dropdown {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px #999;
  background: white;
}
.search-dropdown ul {
  overflow-y: auto;
  list-style: none;
}
.search-dropdown ul .search-item {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}
.search-dropdown ul .search-item:hover,
.search-dropdown ul .search-item.selected,
.search-dropdown ul .search-item.to-choose {
  color: #ad2d34;
}
.search-dropdown ul .search-item.selected {
  background: #f7f7f7;
}
