.date_picker{
    font-size: 10px;
    margin: 0;
    padding: 0;
    width:212px;
    border: 1px #c0c0c0 solid;
}
.date_picker .date_picker_week{
    font-size: 14px;
}
.date_picker .date_picker_header{
    font-size: 14px;
}
.date_picker .date_item{
    width:30px;
    text-align: center;
    height:30px;
    line-height: 30px;
}
.pre_mouth,.next_mouth{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 12px;
}
.date_picker .non_current_mouth_day{
    color: #c0c0c0;
}
.current_day{
    border: #c0c0c0 1px solid;
    background: #dcdcdc;
}
.pre_mouth,.next_mouth,.pre_year,.next_year,.date_picker .date_item{
    cursor: pointer;
}
