.roller{
    width:400px;
    overflow-x: hidden;
}
.roller .comtent{
    width:100%;
}
.roller .comtent>div,.roller .roller_footer>div{
    display: inline-block;
}
.roller .roller_footer>div{
    border-radius: 100%;
    width:10px;
    height:10px;
    border:1px red solid;

}
.roller .roller_footer>div:hover{
    cursor: pointer;
}
.roller .roller_footer{
    bottom: 20px;
}




