.header,.tbody,.tfooter,.row{
    display:block;
}
.table
{
    border:gray 1px solid;
}
*{
    margin: 0;
    padding: 0;

}
.header{
    text-align: center;
    line-height: 40px;
}
.tfooter{
/*margin-top: 30px;*/
    /*float: right;*/
    position: relative;
}
.footer{
    position: absolute;
    right:0px;
    margin-top: 30px;
}
.fields div,.row div{
  word-break: break-all;
}
.fields div,.row div,.tfooter div,.row a{
    display: inline-block;
    text-align: center;
}
.click{
    text-decoration-line: underline;
    color:dodgerblue;
}

.a{
    border: solid red 1px;
}
.fields{
    background-color: cornflowerblue;
}
