.common .header,.common .tbody,.common .tfooter,.common .row{
    display:block;
}
.common .table
{
    border:gray 1px solid;
    margin: 10px;
}
.common .row{
    border-bottom: solid gray 1px;
}
.common .row div:not(:first-child){
      border-left: solid gray 1px;
  }
.common .fields{
    border-bottom: solid black 1px;
}
.common .fields div:not(:first-child){
     border-left: white solid 1px;
 }
*{
    margin: 0;
    padding: 0;

}
.common .header{
    text-align: center;
    line-height: 40px;
}
.common .tfooter{
/*margin-top: 30px;*/
    /*float: right;*/
    position: relative;
}
.common .footer{
    position: absolute;
    right:0px;
    margin-top: 30px;
}
.fields div,.row div{
  word-break: break-all;
}
.common .fields div,.common .row div,.common .tfooter div,.common .row a{
    display: inline-block;
    text-align: center;
}
.common .click{
    text-decoration-line: underline;
    color:dodgerblue;
}

.common .a{
    border: solid red 1px;
}
.common .fields{
    background-color: cornflowerblue;
}
