<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录窗口</title>
    <link rel="stylesheet" type="text/css" href="<%=cdn%>/dist/css/login.css">
</head>
<body>
<div class="login border_radius_5 align_c  ">
<div class=" position_r login_title back_00b3f7 margin_left_top_f30">
    <span class="small_ari_left"></span>
    <span class="font_20">品牌名称-管理登陆</span>
</div>
    <form class="position_r">
        <div class="position_r margin_lr_c top_left_50_f20">
            <input class="user  " type="text" placeholder="用户名" /><span><a class="miss_user" herf="">&nbsp;&nbsp;忘记用户名</a></span>
        </div>
        <div class="top_left_50_f20 margin_lr_c position_r margin_top_30">
            <input class="pass_word " type="password" placeholder="密码" /><span><a class="miss_ps" herf="">&nbsp;&nbsp;忘记密码&nbsp;&nbsp;&nbsp;</a>
        </div>
        <div id="submit" class="submit position_r border_radius_5  margin_lr_c margin_top_90">
            登录
        </div>
    </form>
</div>

<script  type="text/javascript" src="<%=cdn%>/dist/js/login.js"></script>
</body>
</html>